.assigned-label-transphobic { color: #991515 !important; }
.assigned-label-t-friendly { color: #77B91E !important; }
.assigned-label-bad { color: #A87200 !important; }
.assigned-label-good { color: #014E0B !important; }

.has-assigned-label * { color: inherit !important; }
.shinigami-eyes-debug-snippet-highlight {
     outline: 2px dashed darkorchid !important;
     background-color: darkorchid !important;
     color: white !important;
 }
 .shinigami-eyes-debug-snippet-highlight:after {
    content: " ";
    pointer-events: none;
    z-index: 1000000;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkorchid !important;
    opacity: 0.5;
 }
