*.xpi
*.crx
*.pem

.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
slnx.sqlite
*.suo
extension/data/transphobic.dat
extension/data/t-friendly.dat
extension/background.js
extension/content.js
extension/help.js
extension/options.js
extension/bloomfilter.js
extension/content-color.js
